<h1>Список документов</h1>

<!-- Форма загрузки в отдельном Turbo Frame -->
<%= render 'upload_form', document: @document %>
<!-- Список документов в отдельном Turbo Frame -->
<%= render 'documents_list', documents: @documents %>
