<h1>Список документов</h1>

<% if @documents.any? %>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <strong><%= document.name %></strong>
        <small>(<%= document.created_at.strftime("%d.%m.%Y %H:%M") %>)</small>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Документов пока нет.</p>
<% end %>
